<div class = "row review-row">
	<div class = "media-left">
		<%= link_to gravatar_for(@recipe.chef, size: 35), chef_path(@recipe.chef) %>
		<small><%= @recipe.chef.name %></small>
	</div>
	<div class ="media-body review-words">
		<h4> <%= @review.body %> </h4>
	</div>
</div>
<br>
<hr>

